@import "tailwindcss";

* {
  box-sizing: border-box;
}

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

@theme {
  --color-primary: #74BF44;
}

::-webkit-scrollbar { display: none; }

input::-ms-reveal,
input::-ms-clear {
  display: none;
}