@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@0,200..1000;1,200..1000&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

@theme {
  --color-primary: #74BF44;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}